<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
    		  			  	 http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
		 version="4.0">
		 
  <display-name>MMT-JSF</display-name>
	
  <servlet>
    <servlet-name>facesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>facesServlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <!-- Stranica koja se prikazuje po dolasku na web stranicu -->
   <welcome-file-list>
  	<welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  
   <!-- Za hot deploy ( U produkciji staviti na "-1" )-->
  <context-param>
  	<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
  	<param-value>0</param-value>
  </context-param>
  
  <!-- Za ispisivanje detaljnijih debugging informacija na stranicama ( U produkciji promijeniti na "Production" ) -->
  <context-param>
  	<param-name>javax.faces.PROJECT_STAGE</param-name>
  	<param-value>Development</param-value>
  </context-param>
  
  <!-- Smanjenje poslanih podataka tako što se brišu komentari iz Facelets stranica -->
  <context-param>
  	<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <!-- PrimeFaces tema  -->
  <context-param>
  	<param-name>primefaces.THEME</param-name>
  	<param-value>nova-light</param-value>
  </context-param>
  
  <!-- Extensionless URL-ovi -->
  <context-param>
    <param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
    <param-value>/*.xhtml</param-value>
  </context-param>
  
  <!-- Uklanja jsessionID iz URL-a -->
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>


</web-app>